body {
        
    overflow-x: hidden; 
    font-family: 'Inter', sans-serif; 
}
nav{
    background-color: #e48511 !important ;
    color: black !important;
}
.hover-effect:hover{
     background-color: #077307;
     border-color: #e31212 !important;
     transition: all 0.3s ease-in-out;
}
